<label>host</label>
{{#if isHost}}
    <input type="text" id="meeting-host" placeholder="Darth Vader <dvader@gmail.com>" value=""> 
    <span class="is-host">You're Hosting this Party Captain</span>
{{else}}
    <span id="meeting-host"></span>
    <span class="is-guest">Guesting it Up</span>
{{/if}}