<header>
    <h1 id="logo">bitmote</h1>
    <h2><input type="text" id="meeting-title" value="Untitled Meeting"></h2>
    <div class="meta">
        <label>host</label>
        <input type="text" id="meeting-host" placeholder="Darth Vader <dvader@gmail.com>">
    </div>
    <div class="meta">
        <label>attendees</label>
        <span><a href="#">Darth Vader</a> <a href="#">Luke Skywalker</a></span>
    </div>
</header>
<div id="contents-container">
    <h2>minutes <input id="meeting-time" value="started 15 minutes ago"></a></h2>
    <!--
    <div class="alert alert-warning">Uh oh... little problem encountered?<a href="#" class="close">x</a><span></div>-->
    <table>
        <tbody></tbody>
    </table>
</div>
<div id="actions-container">
    <div id="meeting-actions">
        <a id="share-meeting" href="#" class="btn">Share</a>
        <a id="publish-meeting" href="#" class="btn">Publish</a>
    </div>
</div>