<header>
    <h1 id="logo"><a href="/">bitmote</a></h1>
    <h2><input type="text" id="meeting-title" placeholder="Untitled Meeting" value=""></h2>
    <div class="meta" id="host-container"></div>
    <div class="meta" id="attendees-container">
        <label>attendees</label>
        <span id="attendees"></span>
    </div>
</header>
<div id="contents-container">
    <h2>minutes <input id="meeting-time" value=""></a></h2>
    <!--
    <div class="alert alert-warning">Uh oh... little problem encountered?<a href="#" class="close">x</a><span></div>-->
    <table id="minutes-table"></table>
</div>
<div id="actions-container">
    <div id="meeting-actions">
        <a id="share-meeting" href="#" class="btn">Share</a>
        <a id="publish-meeting" href="#" class="btn">Publish</a>
    </div>
</div>