<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/guest.css">

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container clearfix">
            <section class="left-container">
                <img alt="BitMote Tree of Awesome" src="/img/logo_tree.png">
                <br>
                <!-- will rotate little quotes -->
                <q>Kill a pixel, save a tree.</q>
            </section>
            <section class="right-container">
                <form action="" method="get">
                    <h1 id="logo">bitmote</h1>
                    <h2>Joining a <strong>bitmote</strong> meeting is EZ:</h2>
                    <ol>
                        <li class="item-1"><input type="text" name="guest-name" placeholder="enter your name here" required autofocus></li>
                        <li class="item-2"><input type="email" name="guest-email" placeholder="enter an email here" required></li>
                        <li class="item-3"><input type="submit" id="start-meeting" value="Join the Meeting"></li>
                    </ol>
                </form>
            </section>
        </div> <!-- #main-container -->

    </body>
</html>
